extends layout

block content
  div.header#menu
    div.spacer
    center
      a(href='#top')
        h1#name Nate Houlihan
      center
        img#sep(src='images/sep.png')
      center
        ul.menu
            center
            li
              a(href='#abt') About
            li
              a(href='#work') Work
            li
              a(href='#personal') Personal
            li
              a(href='#contact') Contact
      center
        img#sep(src='images/sep.png')
  
  div.spacer2#top
  div.divider#abt
  div.about-section.content
    div.top-piece
      h1 About Me
    div.headshot
      img(align='left' src='images/nate.jpg' style='width: 15%; height: 15%;')
    div.text-right
      p Hello, my name is Nathaniel Houlihan.  I am a software engineer, currently working as a CWEP contractor at Lockheed Martin.  I am a senior at the University of Central Florida, working toward my bachelor's degree in Computer Science.  I spend most of my time programming and working on personal projects.  I love technology, have a passion for innovation, and hope to work on something that will help people for years to come.
  
  div.divider#work
  div.text-section.content
    div.top-piece
      h1 Work
    p Through the majority of my college career, I have worked as a contractor at Lockheed Martin.  During my employment, I have worked on two different projects, holding different roles.  These roles include programming for simulations, testing, support tool design, and constructing technical documentation.  This job has taught me a lot about the software design process, working in a professional setting, and the inner workings of the engineering sector.  I am truly grateful for the opportunity that I have been given.
  div.divider#personal
  div.text-section.content
    div.top-piece
      h1 Personal
    p In my free time, I enjoy many activities.  I love playing my guitar, making music, going to the gym and exercising, and attending UCF football games with my friends as often as I can.  I also very much enjoy working on personal coding projects in my free time.  Below is a selection of my personal projects, and all of my personal projects are hosted on my #[a(href='https://github.com/n8houl') Github page].  I began working on each of these projects in order to learn a specific technology or skill with which I was unfamiliar.  They have taught me a lot, and I thoroughly enjoyed each one.

    center
      div.flexcontainer
        div.project
          div.photo-container
            div.photo
              img.front(src='images/3d-engine.png')
            center
              a(href='https://github.com/n8houl/3DGameEngine') 
                div.back 
                  h4 3D Graphics Engine
                  p Scratch made engine using advanced shader techniques to simulate light and water.
        div.project
          div.photo-container
            div.photo
              img.front(src='images/java-ide.png')
            center
              a(href='https://github.com/n8houl/jIDE') 
                div.back 
                  h4 IDE / Code Editor
                  p Scratch made IDE written in java.  Builds, runs, and displays syntax highlighting.
        div.project
          div.photo-container
            div.photo
              img.front(src='images/personal-site.png')
            center
              a(href='https://github.com/n8houl/nate-houlihan') 
                div.back 
                  h4 Personal Website
                  p My personal website, the one you're viewing right now!
  div.divider-2#contact
  div.contact-section.content
    div.top-piece
      h1 Contact Me
    form(action = '/' method='post')
      div.contact-left
        label Name
        input(name='name' placeholder='Enter your name')
        
        label Email
        input(name='email' type='email' placeholder='you@example.com')
      
      div.contact-right
        label Message
        textarea(name='message' placeholder='Your message here')
      div.contact-bottom
        center
          input#submit(name='submit' type='submit' value='Submit')
  div.social-section.content
    center
      ul#social
        center
          li
            a(href="https://github.com/n8houl")
              i.fa.fa-github-square
          li
            a(href="mailto:n8houl@gmail.com?Subject=Hello%20Nathaniel")
              i.fa.fa-envelope
          li
            a(href="https://www.linkedin.com/in/nate-houlihan-913279106/")
              i.fa.fa-linkedin-square
  div.footer
    center
      footer
        p Nathaniel Houlihan 2017 &copy;
